<div class="mod_application_controller">
    <h1>
        Application Title
        <small><%= build %> 315</small>
    </h1>
    <button class="btn btn-success btn_run"><i class="icon-play icon-white"></i> <%= run %></button>
    <div class="btn-group package" style="display: inline-block;">
        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><i
                class="icon-briefcase icon-white"></i> <%= package %> <span
                class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-folder-open"></i> <%= local_folder %></a></li>
            <li><a href="#"><i class="icon-briefcase"></i> <%= local_archive %></a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-globe"></i> <%= cloud %></a></li>
        </ul>
    </div>
</div>