<div class="mod_publisher_settings">
    <form class="" action="">
        <fieldset>
            <div class="control-group">
                <label class="control-label"><%= publisher_name %></label>

                <div class="controls">
                    <input class="txt-publisher-name" type="text" value="">

                    <div class="help-block"><%= publisher_name_help %></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><%= publisher_web %></label>

                <div class="controls">
                    <input class="txt-publisher-web" type="text" value="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><%= publisher_key %></label>

                <div class="controls">
                    <input class="txt-publisher-key" type="text" value="">

                    <div class="help-block"><%= publisher_key_help %></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><%= publisher_mail %></label>

                <div class="controls">
                    <input class="txt-publisher-mail" type="text" value="">
                </div>
            </div>
        </fieldset>
    </form>
</div>